body{
  background-color: black;
}#title{
  width: 100%;
}#start{
  border-right-color: transparent;
  border-left-color: transparent;
  border-top-color: transparent;
  border-bottom-color: #D4AF37;
  width: 25%;
  font-family: impact;
  font-size: 24px;
  background-color: black;
  color:#D4AF37;
  height: 100px;
}#gameMain,#gameMain2,#gameMain3,#gameMain4,#gameMain5{
  float: right;
  background-color: black;
  width: 57%;
  margin-right: 250px;
  color: white;
  margin-bottom: 60px;
}#gameAnswer,#gameAnswer2,#gameAnswer3,#gameAnswer4,#Restart{
  float: right;
  background-color: black;
  width: 57%;
  margin-right: 250px;
  color: white;
}
